name: Run Go Tests
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - closed
    paths-ignore:
      - README.md
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Install dependencies
        run: go mod tidy

      - name: Run Tests
        run: go test ./...

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
